$color-green: #6bdab4;
$color-red: #e47d7e;
$color-yellow: #fdc368;
$color-blue: #366dbb;

$color-chart: $color-green;
$color-map: $color-red;
$color-address: $color-yellow;
$color-data: $color-blue;
