$text-color: #000;
$font-size: 10px;
$large-font-size: 12px;
$striped-background-color: #e7e7e7;

.taro-table-wrapper .taro-table-scroll .taro-table-head {
  height: auto;

  .taro-table-title {
    height: auto;
    color: $text-color;
  }

  .taro-table-title-text {
    font-size: $large-font-size;
  }
}
.taro-table-wrapper .taro-table-scroll .taro-table-body {
  .taro-table-row {
    margin: 0;
    .taro-table-col {
      padding: 0;
      font-size: $large-font-size;
    }

    .taro-table-col-striped {
      background-color: $striped-background-color;
    }
  }

  .taro-table-empty {
    font-size: $font-size;
  }
}

.loading-wrapper .loading-text,
.load-more .no-more-text {
  font-size: $font-size;
}
