@import './pages/styles/variables.scss';

.page {
  max-width: 750px;
  /*  #ifdef rn  */
  width: 98%;
  /*  #endif  */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
